/*------------------------Colors*/












/*------------------------Others*/

[Add scrollbar via CSS overflow property]

#title-heading{
    text-align: center;
    font-family: 'Brilon';
    color: #b5b8bb;
    text-transform: uppercase;
    margin: 25px;
}

#upper-sidebar{
    background-color: blue;
    display: inline-block;
    height: 500px;
}

#upper-main-section{
    background-color: blue;
    display: inline-block;
    width: 500px;
    float: none;
}

/*------------------------Media Queries*/
@media only screen and (min-width: 320px) {
    body {
        background-color: lightblue;
    }
}

@media only screen and (min-width: 480px) {
    body {
        background-color: pink;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-color: red;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        background-color: purple;
    }
}

/*------------------------Images*/
